
<img class="hero-image" ng-src="{{'data/' + currentPost.name + '/' + currentPost.image}}">
<div class="blog-post">

    <a href="#/"><div class="blog-back-button ">Back to all posts</div></a>

    <div class="blog-container">
        <div class="blog-container__header">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-title">{{currentPost.title}}</div>
                </div>
            </div>
        </div>
        <div>
            <div class="blog-date">{{currentPost.date}} by {{currentPost.author}}</div>
        </div>
        <div class="blog-content" data-ng-include src="'data/' + currentPost.name + '/' + currentPost.content"></div>
    </div>

    <div class="back-bottom">
        <a href="#/"><div class="blog-back-button ">Back to all posts</div></a>
    </div>


</div>
